/**
 * Rose Pine theme for prism.js
 * Based on the Rose Pine palette: https://rosepinetheme.com/
 */

code[class*='language-'],
pre[class*='language-'] {
	background: #11131A;
	color: #e0def4;
	text-shadow: none;
	font-family: 'CommitMono', 'Fira Code', 'Fira Mono', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Selection */
code[class*='language-']::-moz-selection,
code[class*='language-'] *::-moz-selection,
pre[class*='language-'] *::-moz-selection {
	background: #403d52;
	color: inherit;
	text-shadow: none;
}

code[class*='language-']::selection,
code[class*='language-'] *::selection,
pre[class*='language-'] *::selection {
	background: #403d52;
	color: inherit;
	text-shadow: none;
}

/* Code blocks */
pre[class*='language-'] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 0.25rem;
	border: 1px solid #2A2838;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
	padding: 0.2em 0.3em;
	border-radius: 0.25rem;
	white-space: normal;
}

/* Print */
@media print {
	code[class*='language-'],
	pre[class*='language-'] {
		text-shadow: none;
	}
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #6e6a86;
	font-style: italic;
}

.token.doctype,
.token.punctuation,
.token.entity {
	color: #908caa;
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
	color: #ebbcba;
}

.token.keyword {
	color: #31748f;
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
	color: #eb6f92;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value > .token.punctuation {
	color: #9ccfd8;
}

.token.variable,
.token.operator,
.token.function {
	color: #c4a7e7;
}

.token.url {
	color: #9ccfd8;
}

/* HTML overrides */
.token.attr-value > .token.punctuation.attr-equals,
.token.special-attr > .token.attr-value > .token.value.css {
	color: #908caa;
}

/* CSS overrides */
.language-css .token.selector {
	color: #eb6f92;
}

.language-css .token.property {
	color: #908caa;
}

.language-css .token.function,
.language-css .token.url > .token.function {
	color: #9ccfd8;
}

.language-css .token.url > .token.string.url {
	color: #9ccfd8;
}

.language-css .token.important,
.language-css .token.atrule .token.rule {
	color: #31748f;
}

/* JS overrides */
.language-javascript .token.operator {
	color: #31748f;
}

.language-javascript
	.token.template-string
	> .token.interpolation
	> .token.interpolation-punctuation.punctuation {
	color: #ebbcba;
}

/* JSON overrides */
.language-json .token.operator {
	color: #908caa;
}

.language-json .token.null.keyword {
	color: #ebbcba;
}

/* MD overrides */
.language-markdown .token.url,
.language-markdown .token.url > .token.operator,
.language-markdown .token.url-reference.url > .token.string {
	color: #908caa;
}

.language-markdown .token.url > .token.content {
	color: #c4a7e7;
}

.language-markdown .token.url > .token.url,
.language-markdown .token.url-reference.url {
	color: #9ccfd8;
}

.language-markdown .token.blockquote.punctuation,
.language-markdown .token.hr.punctuation {
	color: #6e6a86;
	font-style: italic;
}

.language-markdown .token.code-snippet {
	color: #9ccfd8;
}

.language-markdown .token.bold .token.content {
	color: #ebbcba;
}

.language-markdown .token.italic .token.content {
	color: #31748f;
}

.language-markdown .token.strike .token.content,
.language-markdown .token.strike .token.punctuation,
.language-markdown .token.list.punctuation,
.language-markdown .token.title.important > .token.punctuation {
	color: #eb6f92;
}

/* General */
.token.bold {
	font-weight: bold;
}

.token.comment,
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.namespace {
	opacity: 0.8;
}

/* Plugin overrides */

/* Show Invisibles plugin overrides */
.token.token.tab:not(:empty):before,
.token.token.cr:before,
.token.token.lf:before,
.token.token.space:before {
	color: rgba(144, 140, 170, 0.25);
	text-shadow: none;
}

/* Toolbar plugin overrides */
div.code-toolbar > .toolbar.toolbar > .toolbar-item {
	margin-right: 0.4em;
}

div.code-toolbar > .toolbar.toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > span {
	background: #1f1d2e;
	color: #6e6a86;
	padding: 0.1em 0.4em;
	border-radius: 0.25rem;
}

div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:hover,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:focus {
	background: #2A2838;
	color: #e0def4;
}

/* Line Highlight plugin overrides */
.line-highlight.line-highlight {
	background: rgba(196, 167, 231, 0.08);
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
	background: #1f1d2e;
	color: #e0def4;
	padding: 0.1em 0.6em;
	border-radius: 0.25rem;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
}

pre[id].linkable-line-numbers.linkable-line-numbers span.line-numbers-rows > span:hover:before {
	background-color: rgba(196, 167, 231, 0.08);
}

/* Line Numbers and Command Line plugins overrides */
.line-numbers.line-numbers .line-numbers-rows,
.command-line .command-line-prompt {
	border-right-color: rgba(144, 140, 170, 0.2);
}

.line-numbers .line-numbers-rows > span:before,
.command-line .command-line-prompt > span:before {
	color: #6e6a86;
}

/* Match Braces plugin overrides */
.rainbow-braces .token.token.punctuation.brace-level-1,
.rainbow-braces .token.token.punctuation.brace-level-5,
.rainbow-braces .token.token.punctuation.brace-level-9 {
	color: #eb6f92;
}

.rainbow-braces .token.token.punctuation.brace-level-2,
.rainbow-braces .token.token.punctuation.brace-level-6,
.rainbow-braces .token.token.punctuation.brace-level-10 {
	color: #9ccfd8;
}

.rainbow-braces .token.token.punctuation.brace-level-3,
.rainbow-braces .token.token.punctuation.brace-level-7,
.rainbow-braces .token.token.punctuation.brace-level-11 {
	color: #c4a7e7;
}

.rainbow-braces .token.token.punctuation.brace-level-4,
.rainbow-braces .token.token.punctuation.brace-level-8,
.rainbow-braces .token.token.punctuation.brace-level-12 {
	color: #31748f;
}

/* Diff Highlight plugin overrides */
pre.diff-highlight > code .token.token.deleted:not(.prefix),
pre > code.diff-highlight .token.token.deleted:not(.prefix) {
	background-color: rgba(235, 111, 146, 0.15);
}

pre.diff-highlight > code .token.token.deleted:not(.prefix)::-moz-selection,
pre.diff-highlight > code .token.token.deleted:not(.prefix) *::-moz-selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix)::-moz-selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix) *::-moz-selection {
	background-color: rgba(235, 111, 146, 0.25);
}

pre.diff-highlight > code .token.token.deleted:not(.prefix)::selection,
pre.diff-highlight > code .token.token.deleted:not(.prefix) *::selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix)::selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix) *::selection {
	background-color: rgba(235, 111, 146, 0.25);
}

pre.diff-highlight > code .token.token.inserted:not(.prefix),
pre > code.diff-highlight .token.token.inserted:not(.prefix) {
	background-color: rgba(156, 207, 216, 0.15);
}

pre.diff-highlight > code .token.token.inserted:not(.prefix)::-moz-selection,
pre.diff-highlight > code .token.token.inserted:not(.prefix) *::-moz-selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix)::-moz-selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix) *::-moz-selection {
	background-color: rgba(156, 207, 216, 0.25);
}

pre.diff-highlight > code .token.token.inserted:not(.prefix)::selection,
pre.diff-highlight > code .token.token.inserted:not(.prefix) *::selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix)::selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix) *::selection {
	background-color: rgba(156, 207, 216, 0.25);
}

/* Previewers plugin overrides */
.prism-previewer.prism-previewer:before,
.prism-previewer-gradient.prism-previewer-gradient div {
	border-color: #1f1d2e;
}

.prism-previewer-color.prism-previewer-color:before,
.prism-previewer-gradient.prism-previewer-gradient div,
.prism-previewer-easing.prism-previewer-easing:before {
	border-radius: 0.25rem;
}

.prism-previewer.prism-previewer:after {
	border-top-color: #1f1d2e;
}

.prism-previewer-flipped.prism-previewer-flipped.after {
	border-bottom-color: #1f1d2e;
}

.prism-previewer-angle.prism-previewer-angle:before,
.prism-previewer-time.prism-previewer-time:before,
.prism-previewer-easing.prism-previewer-easing {
	background: #191724;
}

.prism-previewer-angle.prism-previewer-angle circle,
.prism-previewer-time.prism-previewer-time circle {
	stroke: #e0def4;
	stroke-opacity: 1;
}

.prism-previewer-easing.prism-previewer-easing circle,
.prism-previewer-easing.prism-previewer-easing path,
.prism-previewer-easing.prism-previewer-easing line {
	stroke: #e0def4;
}

.prism-previewer-easing.prism-previewer-easing circle {
	fill: transparent;
}
